@import '../utils/var';
@import '../utils/function';

$img: '../images/company';

$sections: ceo, history, vision, client, ci, map;
@each $section in $sections {
    .#{$section} {
        .intro--banner_bg {
            background-image: url('#{$img}/bg-#{$section}.png');
        }
    }
}

.ceo{
    &__mobile--img{
        display: none;
        text-align: center;
        .container{
            background-color: #f8f8f8;
            margin-bottom: 2.5rem;
            padding: 3rem 8rem 0;
            border: 1px solid #eee;
            border-right: 0;
            border-left: 0;
            img{
                vertical-align: top;
            }
        }
        @include responsive(lg){
            display: block;
        }
    }
    &__narrative{
        
        &--text1{
            color: #1d1d1d;
            font-weight: 700;
            line-height: 1.5;
            font-size: 2.5rem;
            b{
                color: #0a529d;
            }
        }
        &--text2{
            color: #1d1d1d;            
            line-height: 1.5;
            font-size: 1.7rem;
            margin-top: 3.5rem;
        }
        @include responsive(xl){
            width: 65vw;
        }
        @include responsive(lg){
            text-align: center;
            width: 100%;
            &--text1{
                font-size:  clamp(17px, calc(17px + (8 * ((100vw - 1000px) / 400))), 25px);
            }
            &--text2{
                font-size:  clamp(13px, calc(13px + (4 * ((100vw - 1000px) / 400))), 17px);
            }
        }
    }
    &__goals{
        margin-top: 3.5rem;
        background-color: #f0f0f0;
        
        .container{
            position: relative;
            //padding: 3.5rem 0;
            padding-top: 3.5rem;
            padding-bottom: 3.5rem;
        }
        &--text1{
            color: #1d1d1d;
            font-weight: 700;
            line-height: 1.5;
            font-size: 2.5rem;
            b{
                color: #0a529d;
            }
            @include responsive(xl){
                width: 65vw;
                font-size: clamp(1.8rem, 1.8vw, 2.5rem);
            }
            @include responsive(lg){
                width: 100%;
                font-size: clamp(14px, calc(14px + (6 * ((100vw - 768px) / 232))), 20px);
                text-align: center;
            }
        }
        &--text2{
            color: #1d1d1d;            
            line-height: 1;
            font-size: 1.7rem;
            margin-top: 3.5rem;
            line-height: 1.5;
            p{
                +p{
                    margin-top: 3.5rem;
                }
            }
            @include responsive(xl){
                width: 65vw;
                p{
                    font-size: clamp(1.4rem, 1.7vw, 1.7rem);
                }
            }
            @include responsive(md){
                width: 100%;
                text-align: center;
                p{
                    font-size: 1.3rem;
                }
            }
        }
        &--name{
            font-weight: 700;
            color: #1d1d1d;
            margin-top: 8rem;
            font-size: 2.5rem;
            b{
                color: #0a529d;
            }
            @include responsive(md){
                margin-top: 6rem;
            }
            @include responsive(md){
                margin-top: 5rem;
                text-align: center;
            }
        }
        &--titleImg{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 33.2%;
            @include responsive(lg){
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}

.history{
    &__title{
        border-color: #0a529d;
        &--item01{
            background-image: url("../images/company/history-1.png");
            h2,
            p{
                color: #fff;
            }
        }
        &--item02{
            background-image: url("../images/company/history-2.png");
            &.active{
                background-image: url("../images/company/history-2-active.png");
            }
        }
        &--item03{
            background-image: url("../images/company/history-3.png");
            &.active{
                background-image: url("../images/company/history-3-active.png");
            }
        }
    }
}

.history{
    &__tabs{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto;
        padding:0 var(--gap);
        max-width: calc(90rem + var(--gap));
        width: 100%;
        margin-bottom: 8rem;
        button{
            display: flex;
            justify-content: center;
            align-items: center;
            color: #1d1d1d;
            background-color: #f1f1f1;
            font-size: 1.7rem;
            height: 7rem;
            &:nth-child(1){
                border-radius: 1rem 0 0 1rem;
            }
            &:nth-child(3){
                border-radius: 0 1rem 1rem 0;
            }
            &._selected{
                background-color: #0a529d;
                color: #fff;
                font-weight: 700;
            }
        }
        @include responsive(lg){
            margin-bottom: 5rem;
            button{
                font-size: 1.4rem;
                height: 5rem;
            }
        }
    }
    &__content{
        margin: 0 auto;
        position: relative;
        padding: 0 var(--gap);
        max-width: calc(var(--xl) + var(--gap));
        .progress{
            &-bar{
                display: block;
                position: absolute;
                left: 50%;
                top: 0;
                bottom: 0;
                width: .5rem;
                transform: translateX(-50%);
                background-color: #f0f0f0;
            }
            &-indicator{
                position: relative;
                width: 100%;
                height: 0%;
                background-color: #0a529d;
                transition: height 0.15s;
                will-change: auto;
            }
            &-step{
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 50%);
                width: 7.3rem;
                height: 7.3rem;
                @include set-background("#{$img}/history-head.png");
            }
            @include responsive(lg){
                &-bar{
                    left: 2.7rem;
                    transform: translateX(0%);
                    width: .2rem;
                }
                &-step{
                    background-size: cover;
                    width: 4rem;
                    height: 4rem;
                }
            }
        }
        &--rows{
            display: flex;
            flex-wrap: wrap;
            gap : 0 11%;
            @include responsive(lg){
                gap: 0;
                flex-direction: column;
                padding-left: 4rem;
            }
            &:not(:last-child){
                margin-bottom: 12rem;
            }
            > div {
                width: calc(50% - 5.5%);
                @include responsive(lg){
                    width: 100%;
                }
            }
            &._revers{
                flex-direction: row-reverse;
                @include responsive(lg){
                    flex-direction: row;
                }
                ol > li{
                    flex-direction: row-reverse;
                    @include responsive(lg){
                        flex-direction: row;
                    }
                    ul{
                        li{
                            text-align: right;
                            padding-right: .9rem;
                            padding-left: 0;
                            &::before{
                                left: inherit;
                                right: 0;
                            }
                            @include responsive(lg){
                                text-align: left;
                                padding-right: .9rem;
                                padding-left: .9rem;
                                &::before{
                                    left: 0;
                                    right: inherit;
                                }
                            }
                        }
                    }
                }
            }
        }
        &--title{
            height: 22rem;
            border: 1px solid #f3f4f4;
            overflow: hidden;
            border-radius: 1.5rem;
            background-color: #f1f1f2;
            padding: 4rem;
            text-align: right;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            transition: all 0.5s;
            h2{font-size: 4.8rem; transition: all 0.5s;}
            p{font-size: 2.1rem; transition: all 0.5s;}
            &.active{
                h2,
                p{
                    color: #fff;
                }
            }
            @include responsive(lg){
                height: 20rem;
                padding: 2rem;
                margin-bottom: 2rem;
                h2{
                    font-size: clamp(2.4rem, 4.8vw, 4.8rem);
                }
                p{
                    font-size: clamp(1.4rem, 1.4vw, 2.1rem);
                }
            }
            @include responsive(md){
                height: 15rem;
            }
        }
        &--list{
            ol{
                > li{
                    display: flex;
                    flex-direction: row;
                    gap : 0 4.5rem;
                    > strong{
                        color: #1d1d1d;
                        font-size: 2.5rem;
                    }
                    +li{
                        margin-top: 5rem;
                    }
                    ul{
                        padding-top: .7rem;
                        li{
                            color: #1d1d1d;
                            font-size: 1.7rem;
                            padding-left: .9rem;
                            line-height: 1.45;
                            &::before{
                                top: .7rem;
                                width: .2rem;
                                height: .2rem;
                            }
                        }
                    }
                    @include responsive(lg){
                        gap: 0 2.5rem;
                        > strong{
                            font-size: 2rem;
                        }
                        +li{
                            margin-top: 3rem;
                        }
                        ul{
                            li{
                                font-size: 1.2rem;

                            }
                        }
                    }
                }
                
            }
        }
    }
}


// 찾아오시는길
.map{
    iframe{
        margin-bottom: 9.0rem;
        height: 50rem;
        @include responsive(lg){
            height: 35rem;
        }
        @include responsive(md){
            margin-bottom: 4.5rem;
            height: 25rem;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
}
.map-info{
    display: flex;
    margin-bottom: 6.0rem;
    @include responsive(md){
        display: block;
        margin-bottom: 3.0rem;
    }
    dt{
        font-size: 4.0rem;
        color:#1d1d1d;
        @include responsive(lg){
            font-size: 3.0rem;
        }
        @include responsive(md){
            font-size: 2.0rem;
        }
        strong{
            margin-left: 1rem;
            display: inline-block;
            font-weight: bold;
        }
    }
    dd{
        padding-left: 8.5rem;
        @include responsive(lg){
            padding-left: 5rem;
        }
        @include responsive(md){
            margin-top: 1.5rem;
            padding-left: 0rem;
        }
    }
    &__address{
        font-size: 2.4rem;
        margin-bottom: 3.0rem;
        color:#1d1d1d;
        @include responsive(lg){
            font-size: 1.8rem;
            margin-bottom: 2.25rem;
        }
        @include responsive(md){
            font-size: 1.2rem;
            margin-bottom: 1.5rem;
        }
    }
    &__tel{
        display: flex;
        color:#1d1d1d;
        div{
            font-size: 2.4rem;
            @include responsive(lg){
                font-size: 1.8rem;
            }
            @include responsive(md){
                font-size: 1.2rem;
            }
            &+div{
                margin-left: 6.0rem;
                @include responsive(lg){
                    margin-left: 4.0rem;
                }
                @include responsive(md){
                    margin-left: 3.0rem;
                }
            }
            strong{
                display: inline-block;
                margin-right: 1.4rem;
                font-weight: bold;
            }
        }    
    }
}

// 고객사
.client{
    padding-bottom: 0;
    .intro--banner{
        margin-bottom: 0;
    }
    &__wrap{
        background: #f4f4f6;
        padding-top: 9.5rem;
        padding-bottom: 14rem;
        @include responsive(lg){
            padding-top: 7rem;
            padding-bottom: 10.5rem;
        }
        @include responsive(md){
            padding-top: 4.25rem;
            padding-bottom: 7rem;
        }
    }
    &__ti{
        text-align: center;
        font-size: 3.2rem;
        color:#1d1d1d;
        margin-bottom: 4.0rem;
        @include responsive(lg){
            font-size: 2.4rem;
            margin-bottom: 3.0rem;
        }
        @include responsive(md){
            font-size: 1.6rem;
            margin-bottom: 2.0rem;
        }
    }
    &__li{
        display: grid;
        gap: 1.6rem 3rem;
        grid-template-columns: repeat(6,1fr);
        padding-bottom: 6rem;
        padding-bottom: 6.0rem;
        @include responsive(lg){
            gap: 1.4rem 2rem;
            grid-template-columns: repeat(5,1fr);
            padding-bottom: 4rem;
            padding-bottom: 4.0rem;
        }
        @include responsive(md){
            gap: 1.2rem 1rem;
            grid-template-columns: repeat(4,1fr);
            padding-bottom: 3rem;
            padding-bottom: 3.0rem;
        }
    }
}

// 비전
.vision{
    padding-bottom: 0;
    .intro--banner{
        margin-bottom: 0;
    }
    &__wrap{
        background: #f4f4f6;
        padding-top: 9.5rem;
        padding-bottom: 14rem;
        @include responsive(lg){
            padding-top: 7rem;
            padding-bottom: 10.5rem;
        }
        @include responsive(md){
            padding-top: 4.25rem;
            padding-bottom: 7rem;
        }
    }
    .vision__item--wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8rem;
        background: #fff;   
        border-radius:2.0rem;
        height: 44.5rem;
        @include responsive(lg){
            flex-direction: column;
            height: auto;
            &:nth-child(even){
                flex-direction: column-reverse;
            }
        }
        @include responsive(md){
        }
        &>div{
            width: 50%;
            @include responsive(lg){
              width: 100%;
            }
            @include responsive(md){
            }
            &.banners{
                height: 100%;
                width:calc(50% - 10px);
                @include responsive(lg){
                    width: 100%;
                    line-height: 0;
                }
                img{
                    height: 100%;
                    @include responsive(lg){
                        width:100%;
                    }
                }
            }
        }
        &:last-child{
            margin-bottom: 0;
        }
    
    }
    &__item{
        &--info{
            margin-left: 7.1rem;
            @include responsive(lg){
                margin-left: 0;
                padding:2rem 2rem 1.5rem;
            }
            @include responsive(md){
                padding: 1.5rem;
            }
            .eng{
                color:#0a529d;
                font-size: 2.5rem;
                margin-bottom: 2.0rem;
                @include responsive(md){
                    font-size: 1.25rem;
                    margin-bottom: 1.0rem;
                }
            }
            .kor{
                color:#1d1d1d;
                font-size: 4.0rem;
                margin-bottom: 3.5rem;
                @include responsive(md){
                    font-size: 2rem;
                    margin-bottom: 1.75rem;
                }
            }
            .txt{
                color:#717171;
                font-size: 1.7rem;
                line-height: 1.5;
                @include responsive(md){
                    font-size: 1.1rem;
                    line-height: 1.2;
                }
            }
        }
    }
}

// CI
.ci{
	.ci__wrap{
		.ci__item{
			display: flex;
			margin-bottom: 4rem;
            @include responsive(lg){
                display: block;
                margin-bottom: 2rem;
            }
            @include responsive(md){
            
            }
			dt{
				width:30rem;
				font-size: 4rem;
				font-weight: bold;
                @include responsive(lg){
                    width:100%;
                    font-size: 3rem;
                    margin-bottom: 1rem;
                }
                @include responsive(md){
                    font-size: 2rem;
                }
			}
			dd{
				width: calc(100% - 30rem);
                @include responsive(lg){
                    width:100%;
                }
			}
			&--info{
				p{
                    font-size: 1.7rem;
					margin-bottom: 3.5rem;
                    @include responsive(lg){
                        display: block;
                        margin-bottom: 1.5rem;
                        font-size: 1.5rem;
                    }
                    @include responsive(md){
                        font-size: 1.3rem;
                    }
					&:last-child{
						margin-bottom: 0;
					}
					.colors_blue{
						color:#127ab7;
					}
					.colors_green{
						color:#8ab63f;}
				}
			}
			&--colors{
				display: flex;
				gap:2.4rem;
                @include responsive(lg){
                    display: block;
                }
				&>dl{
					width: 50%;
					border-radius:1.6rem;
					padding:4rem;
					color:#fff;
                    &:first-child{
                        @include responsive(lg){
                            margin-bottom: 2rem;
                        }
                    }
                    @include responsive(lg){
                        width: 100%;
                        padding:3rem;
                    }
                    @include responsive(md){
                        padding:2rem;
                    }
					dt{
                        font-size: 2.4rem;
						margin-bottom: 6rem;
                        @include responsive(lg){
                            font-size: 1.8rem;
                            margin-bottom: 4.5rem;
                        }
                        @include responsive(md){
                            font-size: 1.2rem;
                            margin-bottom: 3rem;
                        }
					}
					dd{
						display: flex;
						gap:2.6rem;
                        
                        div{
                            font-size: 1.7rem;
                            @include responsive(lg){
                                font-size: 1.4rem;
                            }
                            @include responsive(md){
                                font-size: 1.1rem;
                            }
                        }
					}
				}
				&--blue{
					background: #127ab7;
				}
				&--green{
					background: #8ab63f;
				}
			}
			.Signature_down{
				margin-top: 2rem;
				background: #000;
				background-image: url(../images/recruit/ico-down.png);
				background-position: 13rem;
				background-repeat: no-repeat;
				border-radius: 0.5rem;
				color: #fff;
				display: inline-block;
				font-size: 1.8rem;
				height: 5.6rem;
				line-height: 5.6rem;
				padding-left: 6rem;
				text-align: left;
				width: 20rem;
                @include responsive(lg){
                    font-size: 1.4rem;
                    width: 18rem;
                }
                @include responsive(md){
                    font-size: 1.1rem;
                    width: 100%;
                    background-position: 95% center;
                    padding-left: 0;
                    text-align: center;
                    height: 4rem;
                    line-height: 4rem;
                }
			}
		}
		.box{
			border: 7px solid #f0f0f0;
			border-radius: 4rem;
			height: 36rem;
			margin-bottom: 10rem;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-content: center;
			justify-content: center;
			align-items: center;
            @include responsive(lg){
                margin-bottom: 7.5rem;
                img{
                    max-width: 50%;
                }
            }
            @include responsive(md){
                margin-bottom: 5rem;
                height: 18rem;
                img{
                    max-width: 25%;
                }
            }
			&.signature{
				gap:15rem;
                @include responsive(lg){
                    gap: 11rem;
                }
                @include responsive(md){
                    gap:7.5rem;
                }
			}
			&.symbol{
			}
		}
	}
	.txt01{
		font-size: 1.7rem;
		color:#1d1d1d;
        @include responsive(lg){
            font-size: 1.5rem;
        }
        @include responsive(md){
            font-size: 1.3rem;
        }
		&.mb25{
			margin-bottom: 2.5rem;
            @include responsive(lg){
                margin-bottom: 1.5rem;
            }
		}
	}
	.txt02{
		font-size: 1.5rem;
		color:#999999;
        @include responsive(lg){
            font-size: 1.3rem;
        }
        @include responsive(md){
            font-size: 1.1rem;
        }
	}
}
