body{
    &:has(.modal.active){
        .modal__bg{
            display: block;
        }
    }
}
.modal{
    //display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: 0 !important;
    opacity: 0;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    &.active{
        opacity: 1;
        visibility: visible;
    }
    &__bg{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1042;
        overflow: hidden;
        position: fixed;
        background: #0b0b0b;
        opacity: .8;
        display: none;
    }
    &__container{
        text-align: center;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        padding: 0 8px;
        box-sizing: border-box;
        &::before{
            content: "";
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
    }
    &__body{
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin: 0 auto;
        text-align: left;
        z-index: 1045;
    }
    &__content{

    }
}